# Determining at which age a person is most likely to commit sucide.

### Importing the relevent libraries

In [113]:
import numpy as np  # Allows us to work with arrays.
import matplotlib.pyplot as plt  # Allows working with plots.
import pandas as pd  # importing pandasâ€™ library for use. Allows us to import data set and manipulate it.

### Importing the dataframe

In [114]:
sucidedataframe = pd.read_csv("suicidedataextrafestures.csv")  # opens csv files and assighns them to a variable.

### Checking the data from the dataframe before pre-processing

In [115]:
sucidedataframe.head(3)  # Taking a look at the dataframe the first 3 elements of the dataset.

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0

In [116]:
sucidedataframe.info()  # checking Basic information on the dataframe being procesed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

## 1. Data pre-processing

In [117]:
sucidedataframe.columns  # The columns of the dataframe are viewed.

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population'], dtype='object')

In [118]:
# Below relevent data is selected that will be used in this project.
sucidedataframe = sucidedataframe[["age", "sex", "population", "suicides_no"]]
sucidedataframe.head(1)  # Taking a look at the dataframe to see if the needed changes have been made.

           age     sex  population  suicides_no
0  15-24 years  female    277900.0          NaN

In [119]:
# Below the col names are renamed.
sucidedataframe = sucidedataframe.set_axis(["Age", "Gender", "Population", "Suicides_Committed"],axis=1)
sucidedataframe.head(1)  # Taking a look at the dataframe to see if the needed changes have been made.

           Age  Gender  Population  Suicides_Committed
0  15-24 years  female    277900.0                 NaN

In [120]:
sucidedataframe.shape  # The Entries and the columns of the dataframe are viewed.

(43776, 4)

### Dealing with null values

In [121]:
sucidedataframe.isnull().sum()  # Checking the dataframe for null values.

Age                      0
Gender                   0
Population            5460
Suicides_Committed    2256
dtype: int64

In [122]:
sucidedataframe = sucidedataframe.dropna() # droping all rows with at least one null values.

In [123]:
sucidedataframe.shape  # The Entries and the columns of the dataframe are viewed.

(36060, 4)

In [126]:
sucidedataframe.isnull().sum()  # Checking the dataframe for null values.

Age                   0
Gender                0
Population            0
Suicides_Committed    0
dtype: int64

### One Hot Encoding

In [131]:
# count duplicates function learned from: https://datatofish.com/count-duplicates-pandas/
sucidedataframe.pivot_table(columns=['Age'], aggfunc='size')  # counts duplicates in the selected dataframe column.

Age
15-24 years    6010
25-34 years    6010
35-54 years    6010
5-14 years     6010
55-74 years    6010
75+ years      6010
dtype: int64

### Encoding Classification variables yes and no

In [127]:
print(sucidedataframe.pivot_table(columns=['Gender'], aggfunc='size'))  # counts duplicates in the selected dataframe column.

Gender
female    18030
male      18030
dtype: int64