# Determining at which age a person is most likely to commit sucide.

### Importing the relevent libraries

In [31]:
import numpy as np  # Allows us to work with arrays.
import matplotlib.pyplot as plt  # Allows working with plots.
import pandas as pd  # importing pandas’ library for use. Allows us to import data set and manipulate it.
from sklearn.impute import SimpleImputer  # Importing simpleImputer from sklearn. SimpleImputer handles missing data.

## 1. Data pre-processing

In [32]:
sucidedataframe = pd.read_csv("who_suicide_statistics.csv")  # opens csv files and assighns them to a variable.
sucidedataframe  # View’s the data in dataframe.

        country  year     sex          age  suicides_no  population
0       Albania  1985  female  15-24 years          NaN    277900.0
1       Albania  1985  female  25-34 years          NaN    246800.0
2       Albania  1985  female  35-54 years          NaN    267500.0
3       Albania  1985  female   5-14 years          NaN    298300.0
4       Albania  1985  female  55-74 years          NaN    138700.0
...         ...   ...     ...          ...          ...         ...
43771  Zimbabwe  1990    male  25-34 years        150.0         NaN
43772  Zimbabwe  1990    male  35-54 years        132.0         NaN
43773  Zimbabwe  1990    male   5-14 years          6.0         NaN
43774  Zimbabwe  1990    male  55-74 years         74.0         NaN
43775  Zimbabwe  1990    male    75+ years         13.0         NaN

[43776 rows x 6 columns]

In [20]:
# Below relevent data is selected that will be used in this project.
sucidedataframe = sucideataframe[["age", "sex", "population", "suicides_no"]]
sucidedataframe.head(1)  # Taking a look at the dataframe to see if the needed changes have been made.

           age     sex  population  suicides_no
0  15-24 years  female    277900.0          NaN

In [22]:
# Below the col names are renamed.
sucidedataframe = sucidedataframe.set_axis(["Age", "Gender", "Population", "Suicide_Committed"],axis=1)
sucidedataframe.head(1)  # Taking a look at the dataframe to see if the needed changes have been made.

           Age  Gender  Population  Suicide_Committed
0  15-24 years  female    277900.0                NaN

In [23]:
sucidedataframe.info()  # checking Basic information on the dataframe being procesed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                43776 non-null  object
 1   Gender             43776 non-null  object
 2   Population         38316 non-null  float64
 3   Suicide_Committed  41520 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1.3+ MB

In [27]:
sucidedataframe.isnull().sum()  # Checking the dataframe for null values.

Age                     0
Gender                  0
Population           5460
Suicide_Committed    2256
dtype: int64

In [29]:
sucidedataframe.duplicated().sum()  # Checking duplicated values in the data frame.

5570

### Dealing with null values